@import "_reset";
@import "_colors";
@import "_fonts";
@import "_functions";

body {
    background: $background;
    color: light-or-dark-font($background);
    font-family: $font;  
}

%button {
    border: 0; 
    background: $complement;
    &:active {
        background: $active-color;
    }
    color: light-or-dark-font($complement);
    padding: 15px;
    margin: 10px 15px 20px 15px;
    height: 50px;
    box-shadow: 0px 0px 2px #eee;
}

button {
    @extend %button;
    &.large-button {
        width: 250px;
    }
    &.medium-button {
        width: 200px;
    }
    &.small-button {
        width: 125px; 
    }
}